[submodule "app"]
	path = volumes/app
	url = https://github.com/rylorin/portfolio-manager-app.git
[submodule "nodebot"]
        path = volumes/nodebot
        url = https://github.com/rylorin/portfolio-manager-nodebot.git
[submodule "pybot"]
        path = volumes/ibbotX
        url = https://github.com/rylorin/portfolio-manager-pybot.git
